# Copyright (C) 2024 Rémy Cases
# See LICENSE file for extended copyright information.
# This file is part of the Speedshard repository from https://github.com/remyCases/SpeedshardSprint.

# do not include obj and bin folders

obj
bin
nupkg
logs
*.sml
*.win
